# 2.3 Global mean surface temperature (GMST) time series

## 2.3.1 Global mean surface temperature trend visualization

We use here data from NASA GISS. They are reported in degree Celsius departures from 1951-1980 30-year climatological mean. We use a local file that was downloaded from the web page

[https://climate.nasa.gov/vital-signs/global-temperature/](https://climate.nasa.gov/vital-signs/global-temperature/)

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
# 2023-02-06 We show here how easy it is to import CSV table data
# with the package Pandas
import pandas as pd

In [2]:
# local data file name (path and filename)
path="/nfs/home11/staff/timm/Public/Data/"
filename="GISS_Global_Temperature.csv"

print ("The CSV with the temperature data is:\n"+filename)
# \n in the string adds a line break instruction 
print("It is located in on the computer cluster in a shared file folder: \n"+path)

The CSV with the temperature data is:
GISS_Global_Temperature.csv
It is located in on the computer cluster in a shared file folder:
/nfs/home11/staff/timm/Public/Data/

### Load the CSV data with Numpy support functions

Numpy offers some supporting functions to import data from files.  
Files in CSV format (comma-separated data columns) can be imported with function _np.loadtxt_.

In [4]:
###############################################################################
# Support to load the data from the local CSV file
###############################################################################


print("*********************************************************")
print("Loading the temperature data from CSV-file.")
print("*********************************************************")
result=np.loadtxt(path+filename,skiprows=0,delimiter=',')

year=np.array(result[:,0])
temp1=np.array(result[:,1])
temp2=np.array(result[:,2])

print ("Now you have the data in three variables named")
print ("year temp1 temp2")

*********************************************************
Loading the temperature data from CSV-file.
*********************************************************
Now you have the data in three variables named
year temp1 temp2

In [5]:
print ("Here is some useful info about the variables:")
print ("-------------------------------------------------------")
print ("type of year, temp1,temp2:")
print (type(year),type(temp1), type(temp2))
print ("shape of arrays:")
print (np.shape(year),np.shape(temp1),np.shape(temp2))
print ("-------------------------------------------------------")

Here is some useful info about the variables:
-------------------------------------------------------
type of year, temp1,temp2:
<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'numpy.ndarray'>
shape of arrays:
(143,) (143,) (143,)
-------------------------------------------------------

### Now we use the package Pandas to get the data into variables
We call the returned object a DataFrame (this is a new data type or new class). Programmers use variable names like ___df___ for these data types. 
The ___type()___ function gives us details about the object type. We see it is called 
`<class 'pandas.core.frame.DataFrame'>`

We will call it in short '_Pandas dataframe_' or '_dataframe_'

In [6]:
df=pd.read_csv(path+filename)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### What is in the variable df? We can show it in the Notebook!
The Jupyter Notebooks render the data of type Pandas Dataframe
Pandas. The programmers assume that the first row has column names in the CSV file.
This simple text file does not have any column names, so the first year of data are falsey assumed to be column names. (1880 -0.18 -0.1) But we can quickly fix that.

In [7]:
df

     1880  -0.18  -0.1
0    1881  -0.09 -0.14
1    1882  -0.10 -0.17
2    1883  -0.18 -0.20
3    1884  -0.28 -0.23
4    1885  -0.31 -0.26
..    ...    ...   ...
137  2018   0.83  0.94
138  2019   0.98  0.93
139  2020   1.02  0.94
140  2021   0.85  0.94
141  2022   0.89  0.90

[142 rows x 3 columns]

In [8]:
df=pd.read_csv(path+filename,names=['A','B','C'])
df

        A     B     C
0    1880 -0.18 -0.10
1    1881 -0.09 -0.14
2    1882 -0.10 -0.17
3    1883 -0.18 -0.20
4    1884 -0.28 -0.23
..    ...   ...   ...
138  2018  0.83  0.94
139  2019  0.98  0.93
140  2020  1.02  0.94
141  2021  0.85  0.94
142  2022  0.89  0.90

[143 rows x 3 columns]

In [9]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

### Getting data from the dataframe into variables

Note: When you are more experienced with Python, you can directly work with dataframes to access data columns. For the moment we extract the data columns and assign them as numpy arrays to variables.

In [10]:
#### We re-assign the variables now using Pandas methods.
year=df['A'].values
temp1=df['B'].values
temp2=df['C'].values

In [11]:
print ("Here is some useful info about the variables:")
print ("-------------------------------------------------------")
print ("type of year, temp1,temp2:")
print (type(year),type(temp1), type(temp2))
print ("shape of arrays:")
print (np.shape(year),np.shape(temp1),np.shape(temp2))
print ("-------------------------------------------------------")

Here is some useful info about the variables:
-------------------------------------------------------
type of year, temp1,temp2:
<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'numpy.ndarray'>
shape of arrays:
(143,) (143,) (143,)
-------------------------------------------------------

In [12]:
df=pd.read_csv(path+filename,names=['year','temp1','temp2'])
df

     year  temp1  temp2
0    1880  -0.18  -0.10
1    1881  -0.09  -0.14
2    1882  -0.10  -0.17
3    1883  -0.18  -0.20
4    1884  -0.28  -0.23
..    ...    ...    ...
138  2018   0.83   0.94
139  2019   0.98   0.93
140  2020   1.02   0.94
141  2021   0.85   0.94
142  2022   0.89   0.90

[143 rows x 3 columns]

## 1. Problem: How can we look at the full temperature time series with a decent figure caption, axes labels?

In [ ]:
# Code for your plot.

## 2. Problem: Can you create a bar plot showing indidual years, and the smoothed curve as thick line for the years 1988-2018?

Try an online search for help on "Python matplotlib setting axis limits"

In [ ]:
# Code for your plot.

## Further References:
    
 - [plots with matplotlib.pyplot](https://jakevdp.github.io/PythonDataScienceHandbook/04.01-simple-line-plots.html)
 - [Pandas introduction at W3School](https://www.w3schools.com/python/pandas/default.asp)
 - [Pandas working with existing CSV data files](https://www.w3schools.com/python/pandas/pandas_csv.asp)