# Unit 7.2 Testing for significant temperature differences 

We use monthly mean data from station observations that are part of the GHCN data base. 
The code an extension of the code developed for the confidence interval calculations (see unit 5). The main purpose of this coding activity: Conduct a formal t-test and find stations and months for which we can reject the null hypothesis: 

#### H0: Average temperatures have __NOT__ changed over time!
 (more specifically: __There is no difference between temperature climatologies from 1951-1980 and 1991-2020.__)
 
The alternative hypothesis is that they have changed over time and thus the mean temperatures are different. We have good physically-based expectations that the recent decades have higher averages than the earlier decades. However, we will consider in this test the 2-tailed t-test.

Using the monthly mean data we are in the position to explore in which season we have the strongest data support for a significant temperature change.

### Required data files and Python files :

#### (1) Python module "support.py"

In this script you notice we do not define the function for downloading the data from the ACIS server. 

Instead, we can separate the function definitions from our Notebook and import the functions with the same syntax that we use to import packages like _numpy_ or _scipy.stats_. This importing of Python code from separate files is known as import of _modules_. (The file is pure Python code and must have the extension *.py*.) 

Our Python script is called support.py (see GitHub repository unit6, download the script file, and upload it here into directory *unit6*). Note the ending must be .py for this Python code text file. This is referred to as 'import of modules'.

**Download the file support.py from GitHub (see folder unit7) and upload it into the same folder where you have this notebook file. The file must be named _support.py_ !**

Note: Packages are more complex, consisting of entire folders and subfolders with Python code. So modules are much simpler to maintain and a good first start to get your useful functions organized.


#### (2) ghcnd_stations_NY.txt

In this notebook we read a list of station id numbers (and additional 'metadata' information) from a text file that has all of the NY stations listed. Many stations do not have complete time series over the whole time period, so those are discarded.

**Download the file _ghcnd_stations_NY.txt_ from GitHub (see folder data) and upload it into the same folder where you have this notebook file, or put it into your data folder that you used already throughout the course. Remember that you may have to update the path name in the code below when you read this text file. Default is that you have a folder in the parent directory _../data/_ in which the file is located.

### 1.2 Importing all packages and our own module

And check what we imported and how the functions work.

In [2]:
# Python code convention is that standard packages are imported first
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from scipy import stats

In [3]:
# Import of local modules (second after the standard package import) 
import support as spt

# new: use function help() to see the content of the imported module and the doc-string information
#help(spt)

### Reading the file with the NY station data information (metadata)

In [4]:
# Get station list from local file
df_stations=spt.read_station_list(sid_code="USW")
print ("number of stations starting with 'USW' (Airport stations)",len(df_stations['sid']))

finding all stations in file ../data/ghcnd_stations_NY.txt
with station identifier string starting with 'USW'
number of stations starting with 'USW' (Airport stations) 49

In [5]:
# take a look at the data in DataFrame df_stations
df_stations

,sid,lat,lon,elev,station_name
0,USW00004724,43.1072,-78.9453,178.3,NIAGARA FALLS INTL AP
1,USW00004725,42.1997,-75.9850,489.5,BINGHAMTON HCN 72515
2,USW00004727,42.7500,-76.9000,187.1,GENEVA SAMPSON AFB
3,USW00004742,44.6500,-73.4667,71.9,PLATTSBURGH INTL AP
4,USW00004781,40.7939,-73.1017,25.6,ISLIP LI MACARTHUR AP 72505
5,USW00004782,42.8333,-73.9167,67.1,SCHENECTADY
6,USW00004789,41.5092,-74.2650,111.3,MONTGOMERY ORANGE AP
7,USW00014708,40.7333,-73.6000,29.9,MITCHELL FLD
8,USW00014714,41.5000,-74.1000,177.1,STEWART FLD
9,USW00014715,44.0500,-75.7333,214.0,WHEELER SACK FLD AAF 74370
10,USW00014717,43.2333,-75.4000,158.2,GRIFFISS AFB
11,USW00014719,40.8436,-72.6322,20.4,WESTHAMPTN GABRESKI AP
12,USW00014732,40.7794,-73.8803,3.4,NEW YORK LAGUARDIA AP 72503
13,USW00014733,42.9486,-78.7369,211.2,BUFFALO HCN 72528
14,USW00014735,42.7431,-73.8092,95.1,ALBANY AP HCN 72518
15,USW00014738,42.0833,-76.1000,253.9,BINGHAMTON WB AP
16,USW00014743,44.5772,-75.1097,136.6,CANTON 4 SE HCN
17,USW00014747,42.4933,-79.2722,203.0,DUNKIRK CHAUTAUQUA AP
18,USW00014748,42.1594,-76.8919,291.1,ELMIRA CORNING RGNL AP
19,USW00014749,42.9667,-74.6667,217.0,FT PLAIN WB AP
20,USW00014750,43.3500,-73.6167,97.8,GLENS FALLS AP 72522
21,USW00014757,41.6267,-73.8842,50.6,POUGHKEEPSIE DUTCHESS CO AP HCN
22,USW00014768,43.1167,-77.6767,162.5,ROCHESTER GTR INTL AP HCN 72529
23,USW00014771,43.1111,-76.1039,125.9,SYRACUSE HANCOCK INTL AP GSN HCN 72519
24,USW00014772,43.8833,-73.4000,64.0,TICONDEROGA 3 NE
25,USW00014774,43.1667,-75.3167,163.1,UTICA AP
26,USW00014786,40.5833,-73.8833,4.9,NEW YORK FLOYD BENNETT FLD
27,USW00014797,41.3167,-74.0000,396.8,BEAR MTN WB
28,USW00014798,42.1000,-75.9167,277.1,BINGHAMTON WB CITY
29,USW00054757,42.1094,-77.9919,647.4,WELLSVILLE MUNI AP
30,USW00054773,43.3497,-76.3847,144.8,FULTON OSWEGO CO AP
31,USW00054778,42.6425,-77.0564,275.2,PENN YAN AP
32,USW00054780,41.0731,-71.9233,2.1,MONTAUK AP
33,USW00054787,40.7342,-73.4169,24.7,FARMINGDALE AP
34,USW00054790,40.8217,-72.8689,25.0,SHIRLEY BROOKHAVEN AP
35,USW00064756,41.7858,-73.7422,125.9,MILLBROOK 3 W
36,USW00064758,42.4400,-76.2461,374.3,ITHACA 13 E
37,USW00064775,43.2339,-75.4117,158.2,ROME GRIFFISS AIRFIELD
38,USW00064776,44.6500,-73.4667,71.3,PLATTSBURGH INTL AP
39,USW00093732,39.8000,-72.6667,25.9,NEW YORK SHOALS AFS
40,USW00094704,42.5708,-77.7133,208.8,DANSVILLE MUNI AP 72523
41,USW00094725,44.9358,-74.8458,65.2,MASSENA INTL AP
42,USW00094728,40.7789,-73.9692,39.6,NEW YORK CNTRL PK TWR HCN 72506
43,USW00094733,44.6872,-73.5231,113.4,PLATTSBURGH CLINTON AP
44,USW00094740,44.3853,-74.2067,506.9,SARANAC RGNL AP
45,USW00094745,41.0669,-73.7075,115.5,WESTCHESTER CO AP
46,USW00094789,40.6386,-73.7622,3.4,NEW YORK JFK INTL AP 74486
47,USW00094790,43.9922,-76.0217,96.9,WATERTOWN INTL AP
48,USW00094794,43.1450,-75.3839,216.7,UTICA ONEIDA CO AP HCN

### 1.3 Preparing the data for statistical calculations

<P style="background-color:lightgreen;color:black;font-size:130%">
<BR>
Check which stations have complete data, and  form a final list of stations to use.
<BR>
<BR>
</P>


**The code below is one 'basic' level approach to deal with storing all station data
that have complete time series without any missing values.**

Here we use a simple approach: 
- Access all the station data from the ACIS server. 
- For each station, the downloaded data is checked for missing values.
- If data are complete for the whole period (1951 to 2020, see variable year1, year2 above), then the station metdata information (station id, latitude, longitude, elevation, and full station name) is appended to new lists.

Once we have screened our station data we can do our calculation and plotting for any of those stations by selecting one of the station id names.

In [6]:
#"USW00094728":  example station id for NYC Central Park
# "USW00014735":  Albany airport
df=spt.get_stationdata_monthly("USW00014735","avgt",startyear=1950,endyear=2020)

>send data request to http://data.rcc-acis.org/StnData?sid=USW00014735&&sdate=1950-01-1&&edate=2020-12-31&interval=mly&elems=mly_mean_avgt
station id: USW00014735
year range: 1950 - 2020
> still waiting for response ...
>... done

In [ ]:
df

In [7]:
# 30 year climatology year range

print (f"Check if all monthly data exist (no nan values) between 1951-1980")
dfq=df.query("year >= 1951 and year <= 1980")
# check if data have missign values (nan)
y=dfq['avgt'].values # get numpy array with the temperature data
isnan=np.isnan(y) # checks all data for np.nan values returns array True and False

# the any function returns True if anywhere in the array one or more True values are
if any(isnan): 
    print(">>> Selected station has missing values in the selected time period <<<")
else:
    print("+++ Selected station has complete data in the selected time period. Good! +++")

Check if all monthly data exist (no nan values) between 1951-1980
+++ Selected station has complete data in the selected time period. Good! +++

<P style="background-color:purple;color:gold;font-size:130%">
<BR>
Task 1: 
Select the data for the two 30 climate period: 1951-1980 and 1991-2020 and check that both 30 year periods have complete data.
<BR>
<BR>
</P>

<P style="background-color:purple;color:gold;font-size:130%">
<BR>
Task 2: 
Calculate the mean and standard deviation and standard error of the mean for each month (see unit5 confidence interval calculations for similar code solution).
<BR>
<BR>
</P>

<P style="background-color:purple;color:gold;font-size:130%">
<BR>
Task 3: 
Calculate the approximate 95% Confidence intervals using the 2* standard error of the means 
(or the more exact 95 CI intervals that we calculated in unit5)
<BR>
<BR>
</P>

<P style="background-color:purple;color:gold;font-size:130%">
<BR>
Task 4: Present the climatologies in a graph or two that make it easy to see the differences between the two periods, and how much the confidence intervals overlap.
<BR>
<BR>
</P>
    
- Tip: Check the function plt.errorbar (see unit 5 confidence interval notebook solution guide)

In [ ]:
#help(plt.errorbar)

<P style="background-color:purple;color:gold;font-size:130%">
<BR>
Task 5: Calculate the t-test with the help of the function stats.ttest_ind. Choose a winter month and a summer month (or can you figure out how to apply the t-test to all months?). Where you expect to reject the null hypothesis and obtain the smallest p-value?

<BR>
<BR>
</P>
    
Tip: Check out the help or google examples for the application of the function Scipy *stats.ttest_ind*.
(see link below)

Print out the essential information: 
- the difference in the mean, 
- the t-statistic, the p-value, 
- the test decision, 
- and interpretation of the sign if the difference (sign of the t-statistic).

In [ ]:
#help(stats.ttest_ind)

## 3 Summary and conclusion

Some comments/remarks here.

---
### References

- [Introduction to import of modules](https://www.programiz.com/python-programming/modules)
- [Function ttest_ind from scipy.stats](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html)
- [Welch's form of the t-test](https://en.wikipedia.org/wiki/Welch%27s_t-test) (ttest_ind supports calculating this test statistic when we set the keyword parameter _equal_var=False_)